#root {
  max-width: 1980px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.footer {
  width: 100%;
  height: 50px;
  background-color: black;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}